<ng-container *ngIf="(stashGridOptions$ | async) as options">
  <ng-container *ngIf="visible">
    <div class="gridContainer"
         appResizeDrag
         [ardBounds]="gridBounds"
         [ardAppliedBounds.height]="false"
         [ardDisabled]="!options.editMode">
      <div class="grid"
           [style.height.px]="gridBounds.height"
           [class.interactable]="options.editMode"
           [class.editMode]="options.editMode">
        <div class="gridRow" *ngFor="let row of cellArray; let rowIndex = index">
          <div class="gridCol" *ngFor="let col of cellArray; let colIndex = index">
            <div class="gridCell"></div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="options.editMode">
        <!--<div class="grid-resize-corner interactable"></div>-->
        <div class="gridControls">
          <div class="gridControl clickable" (click)="saveChanges()">
            Save
          </div>
          <div class="gridControl clickable" (click)="cancelChanges()">
            Cancel
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
