<ng-container *ngIf="(stashGridOptions$ | async) as options">
  <ng-container *ngIf="visible">
    <div class="gridContainer"
         appResizeDrag
         [ardBounds]="gridBounds"
         [ardAppliedBounds.height]="false"
         [ardExtendDragArea]="true"
         [ardInteractionsDisabled]="!options.editMode"
         [ardAllowResize]="options.editMode"
         (ardResizeDrag)="onResizeDrag($event)">
      <div class="grid"
           [style.height.px]="gridBounds.height"
           [class.interactable]="options.editMode"
           [class.editMode]="options.editMode">
        <div class="gridRow" *ngFor="let row of cellArray; let rowIndex = index">
          <div class="gridCol" *ngFor="let col of cellArray; let colIndex = index">
            <div class="gridCell" [class.highlight]="options.editMode || intersectsHighlightBounds(colIndex, rowIndex)"></div>
          </div>
        </div>
      </div>
      <div class="gridControls">
        <ng-container *ngIf="options.editMode; else nonEditModeButtonsTemplate">
          <div class="gridControl clickable" (click)="saveChanges()">
            Save
          </div>
          <div class="gridControl clickable" (click)="cancelChanges()">
            Cancel
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-template #nonEditModeButtonsTemplate>
    <div class="gridControl clickable" (click)="toggleStashGrid()">
      Toggle <mat-icon>grid_on</mat-icon>
    </div>
    <div class="gridControl interactable tabName" *ngIf="options.highlightLocation" matTooltip="Tab: {{ options.highlightLocation.tabName }}">
      {{ options.highlightLocation.tabName }}
    </div>
    <div class="gridControl clickable" (click)="cancelChanges()">
      Close
    </div>
  </ng-template>
</ng-container>
