<div class="panel interactable"
     *ngIf="settings.tradeCompanionEnabled"
     [style.opacity]="settings.tradeCompanionOpacity"
     appResizeDrag
     [ardBounds]="settings.tradeCompanionBounds || gameBounds"
     [ardAppliedBounds.width]="false"
     [ardAppliedBounds.height]="false"
     [ardExtendDragArea]="true"
     [ardInteractionsDisabled]="locked"
     (ardResizeDragEnd)="onResizeDragEnd($event)"
     [class.movable]="!locked">
  <div class="header">
    <mat-icon class="clickable" (click)="locked = !locked" matTooltip="{{ locked ? 'Locked - Click to unlock' : 'Unlocked - Click to lock' }}">{{ locked ? 'lock' : 'lock_open' }}</mat-icon>
    <mat-icon [class.movable]="!locked" matTooltip="{{ locked ? 'Locked - Unlock to allow moving of the Trade Companion' : 'Drag this handle to move the Trade Companion' }}">open_with</mat-icon>
    <mat-icon class="clickable" (click)="openSettings.emit()" matTooltip="Open Settings">settings</mat-icon>
    <mat-icon class="clickable" (click)="close()" matTooltip="Disable Trade Companion">power_settings_new</mat-icon>
  </div>
  <div class="notifications">
    <ng-container *ngFor="let notification of notifications; let index=index">
      <app-trade-notification *ngIf="index < settings.maxVisibileTradeNotifications" [notification]="notification" [settings]="settings" (dismissNotification)="onDismissNotification($event)">
      </app-trade-notification>
    </ng-container>
  </div>
</div>
