app-card {
  .card, button {
    background-color: #2a2a2a;
  }

  .card {
    position: relative;

    .remove {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
  }

  .card-button {
    padding: 16px;
    width: 100%;
  }
}

$label-color: rgba(200, 200, 200, 0.54);

label {
  display: block;
  color: $label-color;
  font-size: 12px;
  transform: perspective(100px) translateZ(0.001px);
}

.value-range {
  > .slider {
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-slider {
      width: 100%;
    }
  }
}
