<app-card [title]="'trade-companion.general' | translate">
  <div class="row">
    <div class="col-3">
      <mat-slide-toggle [checked]="settings.tradeCompanionEnabled" (change)="settings.tradeCompanionEnabled = $event.checked">
        {{ 'trade-companion.enabled' | translate }}
      </mat-slide-toggle>
    </div>
    <div class="col-3" style="font-size: 12px;">
      {{ 'trade-companion.window-bounds' | translate }}:
      <ng-container *ngIf="settings.tradeCompanionBounds; else unsetBoundsTemplate">
        {{ settings.tradeCompanionBounds.x }}, {{ settings.tradeCompanionBounds.y }} ({{ settings.tradeCompanionBounds.width }}x{{ settings.tradeCompanionBounds.height }})
      </ng-container>
      <ng-template #unsetBoundsTemplate>
        <i>{{ 'trade-companion.unset' | translate }}</i>
      </ng-template>
      <br />
      <button mat-raised-button (click)="onResetTradeCompanionBoundsClick()">
        {{ 'trade-companion.reset' | translate }}
      </button>
    </div>
    <div class="col-6">
      <div class="value-range">
        <label class="label">
          {{ 'settings.dialog-opacity' | translate }}:
          {{ displayWithOpacity(settings.tradeCompanionOpacity) }}
        </label>
        <div class="slider">
          <mat-slider min="0.05"
                      max="1"
                      step="0.05"
                      tickInterval="1"
                      [displayWith]="displayWithOpacity"
                      [(value)]="settings.tradeCompanionOpacity">
          </mat-slider>
          <span>100%</span>
        </div>
      </div>
    </div>
  </div>
</app-card>
<app-card [title]="'trade-companion.grid-overlay' | translate">
  <div class="row">
    <div class="col-4">
      <mat-slide-toggle [checked]="settings.showStashGridOnTrade" (change)="settings.showStashGridOnTrade = $event.checked" matTooltip="{{ 'trade-companion.show-and-highlight-item-description' | translate }}">
        {{ 'trade-companion.show-and-highlight-item' | translate }}
      </mat-slide-toggle>
    </div>
  </div>
  <div class="row">
    <div class="col-2" *ngFor="let stashGridBound of settings.stashGridBounds | keyvalue">
      <button mat-raised-button (click)="onEditStashGridClick(stashGridBound.key)">
        {{ 'trade-companion.edit-stash-grid.' + (stashGridTypes.values[stashGridBound.key] | lowercase) | translate }}
      </button>
    </div>
  </div>
</app-card>
<app-card [title]="'trade-companion.general-trade-options' | translate">
  <div class="row">
    <div class="col-2">
      <mat-form-field>
        <mat-label>{{ 'trade-companion.max-visible-notifications' | translate }}</mat-label>
        <mat-select [(value)]="settings.maxVisibileTradeNotifications">
          <mat-option *ngFor="
              let value of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 30, 35, 40, 45, 50]
            " [value]="value">
            {{ value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-2" *ngFor="let exampleNotificationType of exampleNotificationTypes.keys">
      <button mat-raised-button (click)="onAddExampleTradeNotificationClick(exampleNotificationType)">
        {{ 'trade-companion.example-trade-notification.' + (exampleNotificationTypes.values[exampleNotificationType] | lowercase) | translate }}
      </button>
    </div>
  </div>
</app-card>
<ng-container *ngTemplateOutlet="
  tradeOptionsTemplate;
  context: {
    title: 'incoming-trade-options',
    kickOrLeaveKey: 'kick',
    tradeOptions: settings.incomingTradeOptions,
    addClick: onAddIncomingTradeOptionClick.bind(this),
    removeClick: onRemoveIncomingTradeOptionClick.bind(this)
  }
  ">
</ng-container>
<ng-container *ngTemplateOutlet="
  tradeOptionsTemplate;
  context: {
    title: 'outgoing-trade-options',
    kickOrLeaveKey: 'leave',
    tradeOptions: settings.outgoingTradeOptions,
    addClick: onAddOutgoingTradeOptionClick.bind(this),
    removeClick: onRemoveOutgoingTradeOptionClick.bind(this)
  }
  ">
</ng-container>

<!-- Templates -->
<ng-template #tradeOptionsTemplate let-title="title" let-kickOrLeaveKey="kickOrLeaveKey" let-tradeOptions="tradeOptions" let-addClick="addClick" let-removeClick="removeClick">
  <app-card [title]="('trade-companion.' + title) | translate" class="trade-options">
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let tradeOption of tradeOptions; let index = index">
        <mat-card class="card">
          <button class="remove" mat-icon-button (click)="removeClick(index)">
            <mat-icon>close</mat-icon>
          </button>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>{{ 'trade-companion.trade-option.button' | translate }}</mat-label>
                <input matInput [(ngModel)]="tradeOption.buttonLabel" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field>
                <mat-label>{{ 'trade-companion.trade-option.whisper' | translate }}</mat-label>
                <input matInput [(ngModel)]="tradeOption.whisperMessage" />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <mat-slide-toggle [checked]="tradeOption.kickAfterWhisper" (change)="tradeOption.kickAfterWhisper = $event.checked">
                {{ 'trade-companion.trade-option.' + kickOrLeaveKey | translate }}
              </mat-slide-toggle>
            </div>
            <div class="col-8 text-right">
              <mat-slide-toggle [checked]="tradeOption.dismissNotification" (change)="tradeOption.dismissNotification = $event.checked">
                {{ 'trade-companion.trade-option.dismiss' | translate }}
              </mat-slide-toggle>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-6 col-lg-4">
        <button mat-raised-button (click)="addClick()" class="card-button">
          {{ 'trade-companion.trade-option.add' | translate }}
        </button>
      </div>
    </div>
  </app-card>
</ng-template>
